

h1 {
}

ul > li
{
  list-style: none; 
  padding: 8px;
  background-color: #EFEFEF;
  width: 200px;
}

a:link,
a:visited
{
  color: #888;
}

li > a:link, li > a:visited {
  font-size: 1.2em;
  margin: auto;
  display: block;
  padding: 2px;
  text-decoration: none;
  border: 4px outset;
}
li > a:active {
  border: 4px inset;
}

