!!!
%html
  %head
    %title Sprinklers
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %meta{:name => "viewport", :content => "width=450"}
    %body
      %h1 Sprinklers
      = yield
